.btn-multiplayer {
  display: flex;
  justify-content: center;
  margin-top: 6px !important;
}

.multiplayer-description {
  text-align: center;

  .first {
    margin-top: 5px;
    margin-bottom: 0;
  }
}

.row {
  padding-bottom: 15px;
}
