.buttons-and-clock {
  max-width: 390px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;


  .initial-buttons {
    display: flex;

    button.start {
      background-color: brown;
    }

    a.instructions {
      width: 40px;
      margin-left: 20px;
    }
  }

  .btn3d {
    margin-top: 20px;
    width: 100px;
  }
}
